@model IEnumerable<MatchIt.Models.Semester>

@{
    ViewData["Title"] = "List";
}
@if (!String.IsNullOrEmpty(TempData?["ErrorMessage"]?.ToString()))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!String.IsNullOrEmpty(TempData?["SuccessMessage"]?.ToString()))
{
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}


<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="MatchedList" asp-route-id="@item.Id">MatchedList</a>
            </td>
        </tr>
}
    </tbody>
</table>
