@model IEnumerable<MatchIt.Models.MatchingStudents>

@{
    ViewData["Title"] = "Matched List";
}

@if (!String.IsNullOrEmpty(TempData?["ErrorMessage"]?.ToString()))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!String.IsNullOrEmpty(TempData?["SuccessMessage"]?.ToString()))
{
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

<h1>Matched List</h1>
<a asp-area="" asp-controller="Semester" asp-action="ExportList" asp-route-id="@Context.GetRouteData().Values["id"]">
    Export
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tutor.Availabilities)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tutee)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tutee.Availabilities)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Course)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Tutor
                </td>
                <td>
                    <ul>
                        @foreach (var av in item.Tutor.Availabilities)
                        {
                            <li>@(av.DayTrimmed[av.Day]): @av.From.ToShortTimeString() - @av.To.ToShortTimeString()</li>
                        }
                    </ul>
                </td>
                <td>
                    @item.Tutee
                </td>
                <td>
                    <ul>
                        @foreach (var av in item.Tutee.Availabilities)
                        {
                            <li>@(av.DayTrimmed[av.Day]): @av.From.ToShortTimeString() - @av.To.ToShortTimeString()</li>
                        }
                    </ul>
                </td>
                <td>
                    @item.Course
                </td>
            </tr>
        }
    </tbody>
</table>
