@model IEnumerable<MatchIt.Models.Tutee>

@{
    ViewData["Title"] = "List";
}
@if (!String.IsNullOrEmpty(TempData?["ErrorMessage"]?.ToString()))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!String.IsNullOrEmpty(TempData?["SuccessMessage"]?.ToString()))
{
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Courses)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Availabilities)
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @String.Join(", ", item.Courses)         
            </td>
            <td>
                <ul>
                        @foreach(var av in item.Availabilities)
                        {
                            <li>@(av.DayTrimmed[av.Day]): @av.From.ToShortTimeString() - @av.To.ToShortTimeString()</li>
                        }
                </ul>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
@*                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
*@                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
