<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MatchIt</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MatchIt.styles.css" asp-append-version="true" />
</head>
<body>
	<main class="main">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Match It</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Semester" asp-action="List" class="nav-link text-white @((ViewBag?.Page == "Semesters") ? "active" : "")" aria-current="page">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                        Semesters
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Course" asp-action="List" class="nav-link text-white @((ViewBag?.Page == "Courses") ? "active" : "")">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        Courses
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Tutee" asp-action="List" class="nav-link text-white @((ViewBag?.Page == "Tutees") ? "active" : "")">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        Tutees
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Tutor" asp-action="List" class="nav-link text-white @((ViewBag?.Page == "Tutors") ? "active" : "")">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                        Tutors
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                &copy; @DateTime.Now.Year.ToString() - Match It
            </div>
        </div>
        <div class="content-container">
        <div class="container w-90">
            <main role="main" class="pb-3 mt-5">
                @RenderBody()
            </main>
        </div>
        </div>
    </main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
